# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#image files
*.gif

#studio files
*.atsln
*.atsuo
*.cproj

#pdf files
*.pdf
!base*.pdf

#compresses files
*.zip
*.rar



#folders
/Debug/
/schematic/
/simulation/
/dump/
/ls/
#/papers/